
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

p { 
    font: bold 180% Consolas, Monaco, monospace;
    width: 16.5em; 
    width: 107ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 4s steps(50, end);
	
}

body {
background-image: url("settings/bunzel.jpg");
background-attachment: fixed;
background-repeat: no repeat;
background-size: 100% 100%;
background-position: center;}


#chat{
	border: 1px solid black;
	width: 100%;
	margin-top: ;
	background-color:yellow;
	opacity: 0.8;
}
#chate{
	border: 1px solid black;
	width: 100%;
	margin-top:1%; ;
	background-color:yellow;
	opacity: 0.8;
}

#chatt{
	border: 1px solid black;
	width: 100%;
	margin-top: 33.5%;
	background-color:yellow;
	opacity: 0.8;
}


#chatq{
	border: 1px solid black;
	width: 99%;
	margin-top: 50%;
	background-color:yellow;
	opacity: 0.8;
}



.glyphicon-circle-arrow-right{
	margin:0% 0% 1% 98%;
	
	
}
.btn-arrow-left{
	margin-left:98%;	
}

.chatq{
		margin-top:-1%;
	
}


.btn-success{
		width:70%;
		height:10%;
		
}


/* character css */
/* snow css */
#snowshock{

	height:65  %;
}

#snowcute{

		height:65%;
}

#snowangry{

			height:65%;
}
#snowdefault{
			height:65%;
			
			
			
			/* user */
			
}		


#uhappy{
	height:66%;
}

#uconfuse{
	height:65%;
}

#udefault{
	height:65%;
	
}



#uannoy{
	height:65%;
	
}

#usilent{
	height:65%;
}

#uwow{
	height:65%;
}

/* mia css */



#miaconfuse{
	height:67%;
}

#miashock{
	height:67%;
}

#miasmile{
	height:67%;
}
#miadefault{
	height:67%;
	
}


/* lily css */
#lilyconfuse{
	height:67%;
	
	
}

#lilyayy{
	height:67%;
	
}

#lilydefault{
	height:67%;
	
}

#lilyglad{
	height:67%;
	
}
#lilyhuh{
	height:67%;
	
}

#lilyshock{
	
	height:67%;
}




#myBtn1{
    
    margin-top:10%;
    
}



/* modal css */
.text {
  background-color: #02fffa;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
   border-radius: 20px;
   cursor: pointer;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}



.item{
    width: 70px;
    margin-top:30%;
    margin-left:;
    
}

.item:hover{
  opacity: 0.6;
    box-shadow:
        0 0 60px 30px #fff,  /* inner white */
        0 0 100px 60px #99ccff, /* middle magenta */
        0 0 140px 90px #0ff; /* outer cyan */
}


.set{
 margin-top:1.5%;	
}


.thumbnail:hover .image {
  opacity: 0.3;
}

.thumbnail:hover .middle {
  opacity: 1;
}
.thumbnail{
	height:15%;
}
#ballpen{
 margin-top:30px;	
}
#food{
 margin-top:30px;	
}
#flowers{
 margin-top:20px;	
}
#chocolate{
 margin-top:17px;	
}
#fruits{
 margin-top:17px;	
}
#book {
 margin-top:17px;	
}
/* Modal Content */
.modal-content {
    background-color: #ffefef;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
	margin-top:5%;
	
}




/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


